{% extends theme("base.html") %}
{% from theme('macros/breadcrumb.html') import breadcrumb with context %}

{% set meta = {
    'title': topic.name,
    'description': topic.description|mdstrip(60)|forceescape,
    'keywords': [_('topic')] + topic.tags,
} %}

{% set bundle = 'topic' %}

{% set body_class = 'topic-display' %}

{% block content %}
{{ breadcrumb(self) }}
<section class="topic-header">
    <div class="container">
        <div class="page-header">
            <h1 class="text-center"><img src="{{ theme_static('img/topics/') + topic.slug + ".svg" }}" title="{{ topic }}" style="width:200px;"></h1>
            <h2 class="text-center">{{ topic.name }}</h2>
        </div>    
        {{ topic.description | markdown | truncate(450)  }}
    </div>
</section>
{% block main_content %}{% endblock %}
<section class="content topic-section related-tags-section">
    <header>
        <div class="container">
            <div class="page-header">
                <h3>
                    <span class='fa fa-tags header-logo'></span>
                    {{ _('Related tags') }}
                </h3>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="tags">
                    {% for tag in topic.tags %}
                    <a href="{{ url_for('search.index', tag=tag) }}"
                        class="btn btn-primary btn-grey btn-xs"
                        title="{{ tag }}">
                        {{ tag|truncate(14, True) }}
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <br>
</section>
{% endblock %}
