{% if banner_posts %}
    {% set posts = banner_posts %}
{% else %}
    {% set posts = [last_post] %}
{% endif %}
<div class="initialTopBanner">
    <!-- <div class="scrolldown">
        <img alt="Ver Mais Scroll Image" src="{{ theme_static('images/scrolldown.png')}}" />
    </div> -->
    <ul id="homepage-slider" {%  if posts|length > 1 %} style="display:none;" {% endif %}>

        {% for post in posts %}

        <li>
            <div class="img" style="background-image: url( {{ post.image|placeholder('post') }} )"></div>
            <div class="black-home-overlay"></div>
            <div class="text-area">
                <h1>{{ post.name|mdstrip(50) }}</h1>
                <br>
                <h3>{{(post.headline or post.content)|mdstrip(100)}}</h3>
                <br>
                <div class="description">
                    <p> {{ post.content| truncate(450) | markdown }} </p>
                    <div class="verMaisHomeBtn">
                            <a href="{{ url_for('datasets.list') }}">{{_("See more")}}</a>
                    </div>
                </div>
            </div>
        </li>

        {% endfor %}

    </ul>
</div>