{% if featured_post %}
{% set post = featured_post %}
{% cache cache_duration, 'posts-last', g.lang_code %}
<section class="highlight-bar">

    <div class="color-overlay"></div>

    <div class="container">
        <div class="row">
            <div class="photo hidden-xs col-xs-4">
                <img src="{{ post.image|placeholder('post') }}" alt="{{ post.name }}">
            </div>

            <div class="body col-sm-8">
                <h3 class="header_big">
                    <a href="{{ url_for('posts.list') }}">{{ _('News in data') }}</a>
                </h3>
                <h3 class="title">
                    <a href="{{ url_for('posts.show', post=post) }}" title="Ver {{ post.name }}">
                        {{ post.name }}
                    </a>
                </h3>
                <p>{{(post.headline or post.content)|mdstrip(280)}}</p>
            </div>
        </div>
    </div>
</section>
{% endcache %}
{% endif %}