{# Carousels section #}
{% cache cache_duration, 'reuses-featured', g.lang_code%}
<section class="default">
    <div class="container">
        {# First row #}
        <div class="row first-row">
            {# Carousel #}
            <div class="col-md-8">
                <h3 class="header_big">{{ _('Best reuse cases') }}</h3>
                <div id="home-carousel" class="carousel slide" data-ride="carousel" data-interval="6000">
                     <!-- Wrapper for slides  -->
                    <div class="carousel-inner">
                        {% for reuse in current_site.settings.home_reuses %}
                        <div class="item {% if loop.first %}active{% endif %}">
                            <img class="slide" src="{{ reuse.image|placeholder('reuse') }}" alt="{{ reuse.title }}">
                            <div class="carousel-caption">
                                <div class="slide-logo pull-left">
                                    {% if reuse.organization %}
                                    <img src="{{ reuse.organization.logo|placeholder('organization') }}" class="avatar" alt="{{ reuse.organization.name }}" width="40" height="40">
                                    {% else %}
                                    <img src="{{ reuse.owner|avatar_url(500) }}" class="avatar" alt="{{ reuse.owner.fullname }}" width="40" height="40"/>
                                    {% endif %}
                                </div>
                                <span class="author">{{ reuse|owner_name}}</span>
                                <h4 class="title">
                                    <a href="{{ url_for('reuses.show', reuse=reuse) }}" title="Ver {{ reuse.title  }}">
                                        {{ reuse.title }}
                                    </a>
                                </h4>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <a class="left carousel-control" href="#home-carousel" data-slide="prev">
                        <span class="icon-prev"></span>
                    </a>
                    <a class="right carousel-control" href="#home-carousel" data-slide="next">
                        <span class="icon-next"></span>
                    </a>
                </div>
            </div>
            {# end carousel #}
            
            {# Last reuses #}
            <div class="col-md-4 single-column">
                <h3 class="header_big">
                    <a href="{{ url_for('reuses.list', sort='-created') }}" title="Ver {{ _('Latest reuses') }}">
                        {{ _('Latest reuses') }}
                    </a>
                </h3>
                <ul class="card-list">
                    {% for reuse in recent_reuses[:3] %}
                    <li class="col-xs-12">
                        {% include theme('reuse/card.html') %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {# End last reuses #}
        </div>
        {# end first row #}
    </div>
</section>
{% endcache %}
{# End Carousels section #}