{% extends theme("base.html") %} 
{% set meta = { 'title': 'Contact', 'description': "Page Contacts", 'keywords': [ 'contact']} %} 
{% block content %}
<section class="content">
    <div class="container block-wrapper grey">
        <div class="row">
            <div class="maniFluid" id="formServicesWrapper">
                <div class="headerForm">
                    <h2>{{_('Contact')|upper}}</h2>
                    <p>{{ _("Use this form to get in touch with us in case of doubts or need of assistance. You can also contact us to request for additional datasets or info that you’d like to see available on this portal. To interact with data suppliers, i.e. ask for more data or specific improvements, use the \"Contact\" option on each dataset page, to start a new discussion thread.") }}</p>
                </div>
                <div class="form-wrapper">
                    <form action="{{ url_for('gouvpt.contact') }}" method=post>
                        {{ form.hidden_tag() }} 
                        <label class="animateInput">
                        {{ form.name(placeholder='*'+_("Name"))  }}
                        <span> Nome: </span>
                        </label> 
                        <label class="animateInput">
                        {{ form.email(placeholder='*'+_("Email")) }} 
                         <span> Email: </span>
                        </label> 
                        <label class="animateInput">
                        {{ form.subject(placeholder='*'+_("Subject"))}} 
                        <span> Assunto: </span>
                         </label> 
                         <label class="animateInput">
                        {{ form.message(placeholder='*'+_("Message")) }}
                        <span> Mensagem: </span>
                        </label> 
                        <div class="labelInfoObrig">
                            <br> *{{ _("required fields")|title }} </div>
                        <center>
                            {% for error in form.recaptcha.errors %}
                                <p style="color:red">
                                    {{ _(error) }}
                                </p>
                            {% endfor %} 
                            {{ form.recaptcha }}
                        </center>
                        <br>
                        <div class="btnWrapper">
                            <button id="submit" type="submit" class="btn btn-submit" disabled>
                                {{ _("Submit") }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function enableBtn(){
        document.getElementById("submit").disabled = false;
    }
    
</script>
{% endblock %}