{% extends theme("base.html") %}

{% set meta = {
    'title': 'Credits',
    'description': "Credits",
    'keywords': [
        'credits',
    ],
} %}

{% block content %}
<section class="content">
    <div class="container">
        <div class="row">
            <article class="markdown-body">
                <h1>{{ _('Credits') }}</h1>
                <p>O projecto "dados.gov" foi desenvolvido por uma equipa multidisciplinar de recursos da AMA e da BABEL ...</p>
                <ul>
                    <li>Pedro Maya Pires, Micael Grilo por parte da BABEL</li>
                    <li>José Rafael, André Lapa por parte da AMA</li>
                </ul>
            </article> 
        </div>
    </div>
</section>
{% endblock %}
