{% extends "base.html" %}

{% block theme_css %}
{{ super() }}
<link href="{{ theme_static('theme.css') }}" rel="stylesheet">
{% endblock %}

{% macro notification_zone() %}
          <notification-zone></notification-zone>
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissable">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <strong>{{ message }}</strong>
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
{% endmacro %}

{% block body %}
<a href="#dadoswrapper" style="display: none;">Skip to main content</a> 
    <div class="container-fluid" id="wrapper">
        {% include theme("header.html") with context %}
        <div id="content">         
            {% if request.endpoint != 'site.home' %}
              {% include theme('sections/subnav-small.html') with context %}
              {{ notification_zone() }}
            {% endif %}
            {% block content %}{% endblock %}
        </div>
    </div>
    {% include theme('footer.html') %}
    {% include theme('publish-action-modal.html') %}
    {% block modals %}{% endblock %}
{% endblock %}
