{% cache cache_duration, 'footer', g.lang_code|default(config.DEFAULT_LANGUAGE)|string %}
<div class="toTop">
    <i class="fa fa-angle-up"></i>
</div>
<footer id="footer">
	<div class="social-media-wrapper">
		<ul>
			<li>
				<a href="http://www.facebook.com/pages/Liferay/45119213107" target="_blank">
					<i class="icone-facebook"> </i>
				</a>
			</li>
			<li>
				<a href="https://www.linkedin.com/company/liferay-inc-" target="_blank">
					<i class="icone-linkedin"> </i>
				</a>
			</li>
			<li>
				<a href="https://twitter.com/liferay" target="_blank">
					<i class="icone-twitter"> </i>
				</a>
			</li>
		</ul>
	</div>
	<div id="sitemap">
		<div class="nav-menu">
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span2 offset1">
						<a href="#">&nbsp;</a>
					</div>
					<div class="span2">
						<a href="javascript:void(0);">DADOS ABERTOS</a>
						<ul class="layouts level-1">
							<li>
								<a href="./link4">Cidadãos</a>
							</li>
							<li>
								<a href="./link4">Produtores</a>
							</li>
							<li>
								<a href="./link4">Reutilizadores</a>
							</li>
							<li>
								<a href="./link4">Programadores</a>
							</li>
						</ul>
					</div>
					<div class="span2">
						<a href="./pagina-de-texto">RECURSOS</a>
						<ul class="layouts level-1">
							<li>
								<a href="./link4">Conjuntos de dados</a>
							</li>
							<li>
								<a href="./link4">Reutilizações</a>
							</li>
							<li>
								<a href="./link4">Produtores</a>
							</li>
							<li>
								<a href="./link4">API</a>
							</li>
							<li>
								<a href="./link5">Licenças</a>
							</li>
						</ul>
					</div>
					<div class="span2">
						<a href="./formulario">BLOG</a>
						<ul class="layouts level-1">
							<li>
								<a href="./link4">Noticias</a>
							</li>
							<li>
								<a href="./link4">Eventos</a>
							</li>
					</div>
					<div class="span2">
						<a href="{{ url_for('site.dashboard') }}">DASHBOARD</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="sitemapSubMenu">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span3">&nbsp;</div>
				<div class="span1">
					<a href="javascript:void(0);">PRÉMIOS</a>
				</div>
				<div class="span2">
					<a href="javascript:void(0);">OUTRO LINK</a>
				</div>
				<div class="span2">
					<a href="javascript:void(0);">POLÍTICA DE PRIVACIDADE</a>
				</div>
				<div class="span2">
					<a href="./contactos">CONTACTOS</a>
				</div>
				<div class="span2">&nbsp;</div>
			</div>
		</div>
	</div>
	<div id="copyright">
		<div class="container-fluid">
			<div class="row-fluid footer-images-wrapper">
				<div class="span2">
					<img alt="República Portuguesa" src="{{ theme_static('images/republica.png') }}"> </div>
				<div class="span2">
					<img alt="AMA" src="{{ theme_static('images/ama.png') }}"> </div>
				<div class="span2">
					<img alt="Compete" src="{{ theme_static('images/compete.png') }}"> </div>
				<div class="span2">
					<img alt="Portugal 2020" src="{{ theme_static('images/pt2020.png') }}"> </div>
				<div class="span2">
					<img alt="União Europeia" src="{{ theme_static('images/ue.png') }}"> </div>
			</div>
			<!--footer images -->
			<div class="row-fluid">
				<div class="span12">
					<p>@
						<span id=footerYear>1991</span>
						<strong>AMA - Agência Para A Modernização Administrativa, I.P.</strong>
					</p>
				</div>
			</div>
		</div>
	</div>
</footer>
{% endcache %}