{% cache cache_duration, 'footer', g.lang_code|default(config.DEFAULT_LANGUAGE)|string %}
<div class="toTop">
    <i class="fa fa-angle-up"></i>
</div>
<footer id="footer">
	<div class="social-media-wrapper">
		<ul>
			<li>
				<a href="http://www.facebook.com/ama.gov.pt/" target="_blank">
					<i class="icone-facebook"> </i>
				</a>
			</li>
			<li>
				<a href="https://www.linkedin.com/company/ama---ag-ncia-para-a-moderniza-o-administrativa-ip/" target="_blank">
					<i class="icone-linkedin"> </i>
				</a>
			</li>
			<li>
				<a href="https://twitter.com/ama_gov_pt" target="_blank">
					<i class="icone-twitter"> </i>
				</a>
			</li>
		</ul>
	</div>
	<div id="sitemap">
		<div class="nav-menu">
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span2 offset1">
						<a href="#">&nbsp;</a>
					</div>
                    {% for item in nav.gouvpt_footer %}
                    <div class="span2">
                        <a href="{{ 'javascript:void(0)' if item.items else item.url }}">{{ item.label }}</a>
                        {% if item.items %}
                        <ul class="layouts level-1">
                            {% for subitem in item.items %}
                            <li><a href="{{ subitem.url }}">{{ subitem.label }}</a></li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    {% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div id="sitemapSubMenu">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span3">&nbsp;</div>
				<div class="span1">
					<a href="javascript:void(0);">PRÉMIOS</a>
				</div>
				<div class="span2">
					<a href="javascript:void(0);">OUTRO LINK</a>
				</div>
				<div class="span2">
					<a href="javascript:void(0);">POLÍTICA DE PRIVACIDADE</a>
				</div>
				<div class="span2">
					<a href="./contactos">CONTACTOS</a>
				</div>
				<div class="span2">&nbsp;</div>
			</div>
		</div>
	</div>
	<div id="copyright">
		<div class="container-fluid">
			<div class="row-fluid footer-images-wrapper">
				<div class="span2">
					<img alt="República Portuguesa" src="{{ theme_static('images/republica.png') }}"> </div>
				<div class="span2">
					<img alt="AMA" src="{{ theme_static('images/ama.png') }}"> </div>
				<div class="span2">
					<img alt="Compete" src="{{ theme_static('images/compete.png') }}"> </div>
				<div class="span2">
					<img alt="Portugal 2020" src="{{ theme_static('images/pt2020.png') }}"> </div>
				<div class="span2">
					<img alt="União Europeia" src="{{ theme_static('images/ue.png') }}"> </div>
			</div>
			<!--footer images -->
			<div class="row-fluid">
				<div class="span12">
					 ©&nbsp;<span id=footerYear>1991</span> 
					 <strong>DADOS.GOV.PT</strong><a href="https://github.com/eupsama/gouvpt/" title="{{ _('dados.gov.pt UData extension') }}" target="_blank"> {{ package_version('gouvpt') }}</a>
					<p>AMA - Agência para a Modernização Administrativa, I. P.</p>
					<a href="https://github.com/opendatateam/udata/" title="{{ _('Open-source engine') }}" target="_blank">UData v{{ package_version('udata') }}</a>				
				</div>
			</div>
		</div>
	</div>
</footer>
{% endcache %}