<div class="search-box">
    <div>
        <span class="icon-remove fa fa-remove">&nbsp;</span>
        <site-search v-ref:search action="{{ url_for('search.index') }}">
            <form class="site-search" action="{{ url_for('search.index') }}">
                <input id="search" name="q" label="search" type="search" class="form-control" placeholder="{{  _('Search') }}" />
                <span class="fa fa-angle-right" type="submit">&nbsp;</span>
                <input type="submit" value="Submit" style="visibility: hidden;"/>
            </form>
        </site-search>
    </div>
</div>

<section class="header">
    <header id="banner">
        <div id="heading">
            <nav class="horizontal-menu type2">
                <div class="menu-wrapper">
                    <div class="lang-wrapper top-section">
                        {% if request.endpoint != 'site.home'%}
                        <span class="search-icon icon-home">
                            <i class="fa fa-home icon-globe">&nbsp;</i>
                        </span>
                        {% endif %}
                        {% if request.endpoint == 'site.home' %}
                        <span class="search-icon">
                            <span class="fa fa-fw fa-search icone-search icon-globe">&nbsp;</span>
                        </span>
                        {% endif %}
                        <button class="button1 top-button" type="button" @click.prevent="$refs.publishActionModal.show">
                            <span class="fa fa-fw fa-cloud-upload icon-globe"></span>
                            <span class="hidden-xs">{{ _('Contribuir!')}}</span>
                        </button>

                        {% if current_user.is_authenticated %}
                        <span class="dropdown user">
                            <a role="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                <img src="{{ current_user|avatar_url(40) }}" width="35" height="35" class="img-circle" alt="{{ current_user.fullname }}"
                                />
                                <span class="username hidden-xs">{{ current_user.fullname }}
                                    <b class="fa fa-caret-down"></b>
                                </span>
                            </a>

                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ url_for('users.show', user=current_user) }}">{{ _('Profile') }}</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('security.change_password') }}">{{ _('Change password') }}</a>
                                </li>
                                {% if current_user.organizations %}
                                <li role="presentation" class="dropdown-header">{{ _('Organizations') }}</li>
                                {% for org in current_user.organizations %}
                                <li>
                                    <a href="{{ url_for('organizations.show', org=org) }}">
                                        <img src="{{ org.logo(20)|placeholder('organization') }}" width="20" height="20" alt="{{ org.acronym or org.name }}" /> {{ org.acronym or org.name }}
                                    </a>
                                </li>
                                {% endfor %}
                                {% endif %}
                                <li class="divider"></li>
                                <li>
                                    <a href="{{ url_for('admin.index') }}">
                                        {{ _('Administration') }}
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    {% if session['saml_login'] %}
                                        <a href="{{ url_for('saml.saml_logout') }}">
                                    {% else %}
                                        <a href="{{ url_for('security.logout') }}">
                                    {% endif %}
                                        {{ _('Logout') }}
                                    </a>
                                </li>
                            </ul>

                        </span>
                        {% else %}

                        <button class="button1 top-button" onclick="location.href = '{{ url_for('security.login', next=request.url) }}';">
                                <span class="fa fa-fw fa-sign-in icon-globe"></span>
                                <span class="hidden-xs">{{ _('Sign In / Register') }}</span>
                        </button>

                        {% endif %}

                        {% if g.lang_code and request.url %}
                            <span class="fa fa-fw fa-globe icon-globe"></span>
                            <select id="selectLang" label="lang" title="lang" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                                {% for code, name in config['LANGUAGES'].items() %}
                                <option label="{{code}}" title="{{code.upper()}}" value="{{ request.url.replace('/{0}/'.format(g.lang_code),'/{0}/'.format(code)) }}" {% if (code==g.lang_code) %}
                                selected="selected" {% endif %}>
                                {{code.upper()}}
                                </option>
                                {% endfor %}
                            </select>
                        {% endif %}
                    </div>

                    {% cache cache_duration, 'header-menu', request.path, g.lang_code|default(config.DEFAULT_LANGUAGE)|string %}
                    <div class="site-logo hidden-xs hidden-sm">
                        <a href="{{ url_for('site.home') }}">
                            <img src="{{ theme_static('images/new_logo.png') }}" alt="{{ g.site.title }}" />
                        </a>
                    </div>

                    <span class="icone-burguer">
                            <img src="{{ theme_static('images/new_logo.png') }}" alt="{{ g.site.title }}" />
                    </span>

                    <ul>
                        {% for item in current_theme.menu %}
                        <li class="lfr-nav-item {% if item.items %} dropdown {% endif %} 
                        {% for subitem in item.items %}{% if subitem.url in request.path %} active{% endif %} {% endfor %} {% if item.url in request.path %} active{% endif %}">
                            <a {% if item.items %} class="dropdown-toggle" {% endif %} href="{{ item.url }}">
                                <span>{{ item.label }} {% if item.items %}
                                    <span class="fa fa-caret-down"></span>{% endif %}
                                </span>
                            </a>
                            {% if item.items %}
                            <ul class="sub-menu">
                                {% for subitem in item.items %}
                                <li class="lfr-nav-item {% if subitem.url in request.path %} active {% endif %}">
                                    <a href="{{ subitem.url }}">{{ subitem.label }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endcache %}
                </div>
            </nav>
        </div>
    </header>
</section>