{% extends "home.html" %} 
{% set body_class = 'homepage' %} 
{% block content %}

<div class="top-banner">
	{% include theme("sections/posts-featured.html") %}
</div>

{{ notification_zone() }}

<div class="block-wrapper">
	<div class="categories">
		<span class="col-md-1">
			<a href="/pt_PT/group/ambiente-e-energia"><img src="//dadosabertos.cascais.pt/base/images/icon_ambiente190.png" style="width: 70px;.png"></a>
		</span>   
		<span class="col-md-1">
			<a href="/pt_PT/group/economia"><img src="//dadosabertos.cascais.pt/base/images/icon_economia190.png" style="width: 70px;.png"></a>
		</span>
		<span class="col-md-1">
			<a href="/pt_PT/group/educacao"><img src="//dadosabertos.cascais.pt/base/images/icon_educacao190.png" style="width: 70px;.png"></a>
		</span>
		<span class="col-md-1">
			<a href="/pt_PT/group/governacao"><img src="//dadosabertos.cascais.pt/base/images/icon_governacao190.png" style="width: 70px;.png"></a>
		</span>
		<span class="col-md-1">
			<a href="/pt_PT/group/lazer-cultura-desporto"><img src="//dadosabertos.cascais.pt/base/images/icon_lazer190.png" style="width: 70px;.png"></a>
		</span>
	   <span class="col-md-1">
			<a href="/pt_PT/group/transportes"><img src="//dadosabertos.cascais.pt/base/images/icon_transportes190.png" style="width: 70px;.png"></a>
		</span>
		<span class="col-md-1">
			<a href="/pt_PT/group/populacao-e-sociedade"><img src="//dadosabertos.cascais.pt/base/images/icon_populacao190.png" style="width: 70px;.png"></a>
		</span>	
		<span class="col-md-1">
			<a href="/pt_PT/group/saude"><img src="//dadosabertos.cascais.pt/base/images/icon_saude190.png" style="width: 70px;.png"></a>
		</span>
		<span class="col-md-1">
			<a href="/pt_PT/group/seguranca"><img src="//dadosabertos.cascais.pt/base/images/icon_seguranca190.png" style="width: 70px;.png"></a>
		</span>
		<span class="col-md-1">
			<a href="/pt_PT/group/territorio"><img src="//dadosabertos.cascais.pt/base/images/icon_territorio190.png" style="width: 70px;"></a>
		</span>	
	</div>
</div>

<div class="block-wrapper reuses">
	{% include theme("sections/reuses-featured.html") %}
</div>

<div class="block-wrapper grey">
		{% include theme("sections/posts-last.html") %}
</div>

<div class="block-wrapper">
		{% include theme("sections/datasets-featured.html") %}
</div>

</div>
{% endblock %}