{% extends "home.html" %} 
{% set body_class = 'homepage' %} 
{% block content %}

<div class="top-banner">
	{% include theme("sections/posts-featured.html") %}
</div>

{{ notification_zone() }}

<div class="block-wrapper reuses">
	{% include theme("sections/reuses-featured.html") %}
</div>

<div class="block-wrapper grey">
		{% include theme("sections/posts-last.html") %}
</div>

<div class="block-wrapper">
		{% include theme("sections/datasets-featured.html") %}
</div>

</div>
{% endblock %}