{% extends theme("base.html") %}

{% set meta = {
    'title': _('Terms'),
    'description': _('Terms'),
    'keywords': [
        'terms', _('terms'),
    ],
} %}

{% block content %}
    {% cache cache_duration*3, 'terms' %}
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="markdown-body">
                            {{ terms|markdown }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endcache %}
{% endblock %}
